include ../../../../views/panel/component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-code")
				h2 Payuni User

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{ID : 'dataTable-add' , onclick : 'DataTableAdd("/payuni-users/add", "Create New User")' , title : 'Create Layout' , kelas : 'fa-plus'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'},{ID : 'user-edit' , onclick : 'DataTableHref("main#/manage/css/edit", "GET")' , title : 'Edit Layout' , kelas : 'fa-pencil'} , {ID : 'user-delete' , onclick : 'DataTableDelete("/manage/css/delete")', title : 'Delete Layout' , kelas : 'fa-trash-o'}]
						+component(data)
					table(id = "table-layout" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Name
								th Username
								th Password
								th Email
								th Client Key
								th(data-hide='phone,tablet') Created_at

script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'}];
		var dataTableURL = '/payuni-users/datatable';

		var tableuser = dataTable('#table-layout',dataTableURL,dataTableWidth ,{ selectable : [1,2,3] });
		
		function refresh(){
			tableuser.fnDraw();
			selected = [];
		}

		SelectedRow('#table-layout');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		})

	});