style.
	#editor { 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					//- i(class = "fa fa-css3")
				h2 CSS EDITOR

			div
				div.widget-body(style="min-height:auto")
					div.col-md-6
						form#formStyle(data-type=type data-id=data?data._id:'')
							div.form-group
								div.col-md-6
									input.form-control(placeholder="Name" tabindex="0" value=data?data.name : '')#name
								div.col-md-6
									button.btn.btn-success(tabindex="4")#btnSave Save
									| &nbsp;
									a(href="javascript:history.go(-1)")
										button.btn.btn-danger(tabindex="5" type="button") Cancel
								div.clearfix
					div.clearfix
				div(class = "widget-body no-padding" style="height:400px")
					div(tabindex="1")#editor
						= encodeData&&JSON.parse(encodeData).code
script(src="/plugins/ace/src-noconflict/ace.js")
script.
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/chrome");
	editor.getSession().setMode("ace/mode/css");

	function save() {
		var tmpName = escape($("#name").val());
		var name = tmpName.substr(tmpName.length-4, 4) == '.css' ? tmpName : tmpName + ".css";
		var code = editor.getValue();
		var data = {
			name : name,
			code : code
		};

		if ("#{type}" == "edit") {
			data = {
				data : JSON.stringify(data),
				id : $("#formStyle").attr("data-id") != "" && $("#formStyle").attr("data-id")
			}
		}
		$.ajax({
			url : "#{type}" == "tambah" ? "/manage/css/simpan" : "/manage/css/edit/simpan",
			type : 'POST',
			data : data,
			beforeSend : function() {
				$("#btnSave").attr("disabled","disabled");
			},
			success : function(msg) {
				$("#btnSave").removeAttr("disabled");
				if (msg.status == 200) {
					$.smallBox({
						title : "Success",
						content : "<i class='fa fa-check'></i> <i> " + name + " Berhasil Di Simpan</i>",
						color : "#089",
						iconSmall : "fa fa-times fa-1x fadeInRight animated",
						timeout : 1000
					});
					if ("#{type}" == "tambah") {
						window.location.href="javascript:history.go(-1)";	
					}
				} else {
					$.smallBox({
						title : "Peringatan",
						content : "<i class='fa fa-times'></i> <i> " + name + msg.pesan + "</i>",
						color : "#C46A69",
						iconSmall : "fa fa-times fa-1x fadeInRight animated",
						timeout : 1000
					});
				}
			}
		})
	}

	$(function() {
		$("#formStyle").submit(function(e) {
			save();
			e.preventDefault();
		})
	})