style.
	#editor { 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-code")
				h2 JS EDITOR

			div
				div.widget-body(style="min-height:auto")
					div.col-md-6
						form#formStyle(data-type=type data-id=data?data._id:'')
							div.form-group
								div.col-md-6
									input.form-control(placeholder="Name" tabindex="0" value=data?data.name : '')#name
								div.col-md-6
									button.btn.btn-success(tabindex="4")#btnSave Save
									| &nbsp;
									a(href="javascript:history.go(-1)")
										button.btn.btn-danger(tabindex="5" type="button") Cancel
								div.clearfix
					div.clearfix
				div(class = "widget-body no-padding" style="height:400px")
					div(tabindex="1")#editor
						= encodeData&&JSON.parse(encodeData).code
script(src="/plugins/ace/src-noconflict/ace.js")
script.
	pageSetUp();
	loadScript('/plugins/ace/src-noconflict/ace.js', function (){
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/chrome");
		editor.getSession().setMode("ace/mode/javascript");
		
		function SimpanFile () {
			var selector = $('#btnSave');
			var tmpName = escape($("#name").val());
			if (tmpName == '') {
				$.smallBox({
					title : "Peringatan",
					content : "<i class='fa fa-times'></i> <i> Nama File Masih Kosong !!! </i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 1000
				});
			} else {
				var name = tmpName.substr(tmpName.length-3, 4) == '.js' ? tmpName : tmpName + ".js";
				var code = editor.getValue();
				selector.attr('disabled', true);
				var data = {
					name : name,
					code : code
				};
				if ('#{type}' == 'edit') {
					var id = $('#formStyle').attr('data-id');
					data = {
						data : JSON.stringify(data),
						id : id != "" && id
					}
				}
				
				$.ajax({
					url : "#{type}" == "tambah" ? "/manage/js/simpan" : "/manage/js/edit/simpan",
					type : 'POST',
					dataType : 'json',
					data : data,
					success : function (msg) {
						if (msg.status == 'sukses') {
							$.smallBox({
								title : "Success",
								content : "<i class='fa fa-check'></i> <i> " + name + " Berhasil Di Simpan</i>",
								color : "#089",
								iconSmall : "fa fa-times fa-1x fadeInRight animated",
								timeout : 1000
							});
							if ("#{type}" == "tambah") {
								window.location.href="javascript:history.go(-1)";	
							}
						} else {
							$.smallBox({
								title : "Peringatan",
								content : "<i class='fa fa-times'></i> <i> " + name + msg.pesan + "</i>",
								color : "#C46A69",
								iconSmall : "fa fa-times fa-1x fadeInRight animated",
								timeout : 1000
							});
						}
						selector.attr('disabled', false);
					}
				});
			}
		}
		
		$("#formStyle").submit(function (e) {
			e.preventDefault();
			SimpanFile();
		});
	});

