form.form-horizontal
	div.form-group
		label.control-label.col-lg-3 Label
		div.col-lg-7
			- if (type == 'tambah')
				input.form-control#label(type = 'text')
			- else
				input.form-control#label(type = 'text' value = data.label)
	div.form-group
		label.control-label.col-lg-3 Url
		div.col-lg-7
			- if (type == 'tambah')
				input.form-control#url(type = 'text')
			- else
				input.form-control#url(type = 'text' value = data.url)
	div.form-group
		div.col-lg-7.col-lg-offset-3
			- if (type == 'tambah')
				button.btn.btn-info#simpan Simpan
			- else
				button.btn.btn-info(data-id = data._id)#simpan Simpan
			button.btn.btn-danger#batal(style = "margin-left : 10px") Batal

script.
	pageSetUp();

	function EndProses() {
		$('#modal_All').modal('hide');
		$('#clear').click();
		return false
	}

	$(function (){
		$('#simpan').click(function (e){
			e.preventDefault();
			 var label = $('#label').val();
			 var url = $('#url').val();
			 var selector = $(this);
			 $(this).attr('disabled', true);
			 var target_url = '';
			 var data = {
			 	label : label,
			 	url : url
			 }
			 if ('#{type}' == 'edit') {
				var id = $(this).attr('data-id');
				data['id'] = id;
				target_url = '/manage/navigasi/edit'; 
			 } else {
				target_url = '/manage/navigasi/simpan';
			 }
			 if (label == '' || url == '') {
			 	selector.attr('disabled', false);
				$('#modal_All #kosong').html('<p class = "alert alert-danger "> Data Masih Kosong !!! </p>');	
			 } else {
				//- console.log(target_url);
				$.ajax({
					url : target_url,
					type : 'POST',
					dataType : 'json',
					data : data,
					success : function (msg) {
						if (msg.status == 'sukses') {
							EndProses();
						} else {
							$('#modal_All #kosong').html('<p class = "alert alert-danger "> '+msg.pesan+' </p>');
						}
						selector.attr('disabled', false);
					}
				})
			 }
		});

		$('#batal').click(function (e){
			e.preventDefault();
			EndProses();
		});
	});