form.form-horizontal
	div#tempat-pesan
	div.row
		div.col-lg-6
			div.form-group
				label.control-label.col-lg-3 Name
				div.col-lg-7
					- if (type == 'tambah')
						input.form-control#name(type = "text")
					- else
						input.form-control#name(type = "text" value = data.uri_name)
			div.form-group
				label.control-label.col-lg-3 Uri
				div.col-lg-7
					- if (type == "tambah")
						input.form-control#uri(type = "text")
					- else
						input.form-control#uri(type = "text" value = data.uri)
			- var list_type = ['label']
			div#template_list(style = "display : none;")
				div.form-group
					label.control-label.col-lg-3(data-no = "2") Uri Segment
					div.col-lg-4#box-type
						select.form-control#type(onchange = "PilihList(this)")
							option(value = "") Choose Type
							- for (i = 0; i < list_type.length; i++)
									option(value = list_type[i])=list_type[i]
					div.col-lg-3#box-label
						select.form-control#label
							option(value = "") Choose Tag
					div.col-lg-1
						a.btn.btn-default(onClick = "HapusElement(this)")
							i.fa.fa-trash-o
			div#template_data
				- if (type == 'tambah' || data.segment.length == 0)
					div.form-group
						label.control-label.col-lg-3(data-no = "2") Uri Segment 2
						div.col-lg-4#box-type
							select.form-control#type(onchange = "PilihList(this)")
								option(value = "") Choose Type
								- for (i = 0; i < list_type.length; i++)
									option(value = list_type[i])=list_type[i]
						div.col-lg-3#box-label
							select.form-control#label
								option(value = "") Choose List
						div.col-lg-1
							a.btn.btn-default(onClick = "PlusSegment(this)")
								i.fa.fa-plus
				- else
					- if (data.segment.length != 0 )
						-var no = 2
						- for (x = 0; x < data.segment.length; x++)
							div.form-group
								label.control-label.col-lg-3(data-no = no) Uri Segment 
								div.col-lg-4#box-type
									select.form-control#type(onchange = "PilihList(this)" data-value = data.segment[x].label)
										option(value = "") Choose Label
										- for (i = 0; i < list_type.length; i++)
											- if (list_type[i] == data.segment[x].type)
												option(value = list_type[i] selected)=list_type[i]
											- else
												option(value = list_type[i])=list_type[i]
								div.col-lg-3#box-label
									select.form-control#label
										option(value = "") Choose List
								div.col-lg-1
									- if (x == 0)
										a.btn.btn-default(onClick = "PlusSegment(this)")
											i.fa.fa-plus
									- else
										a.btn.btn-default(onClick = "HapusElement(this)")
											i.fa.fa-trash-o
							- no = no + 1
			div.form-group
				label.control-label.col-lg-3 Layout
				div.col-lg-7
					select#layout(onchange = "PilihLayout(this)").form-control!=element
			div.form-group
				div.col-lg-7.col-lg-offset-3
					- if (type == 'tambah')
						button.btn.btn-info( style = "margin-right : 10px;" ).simpan Simpan
					- else
						button.btn.btn-info( style = "margin-right : 10px;" data-id = data.id)#simpan Simpan
					button.btn.btn-danger#batal Batal
		div.col-lg-6
			- var box_name = ['Box Name 1','Box Name 2','Box Name 3','Box Name 4']
			- var box_view = ['Box View List','Box View Datatable','Box View Artikel']
			div#template_box_list(style = "display : none;")
				div#list-box
					fieldset(style='border:1px solid black; padding : 5px; margin-top : 5px;')
						div.field-input
							div.row(style = 'margin-bottom : 0px !important')
								div.col-lg-3
									div.form-group
										div.col-lg-11
											select#box-content.form-control
												option(value = "") Choose Box
												//- // - for (bn = 0; bn < box_name.length; bn++)
													option(value = box_name[bn])= box_name[bn]
								div.col-lg-3
									div.form-group
										div.col-lg-11
											select#box-data.form-control
												option(value = "") Choose Data
												- for (bd = 0; bd < contentType.length; bd++)
													option(value = contentType[bd].id)= contentType[bd].nama
								div.col-lg-3
									div.form-group
										div.col-lg-11
											select#box-view.form-control(onchange = "PilihBoxView(this)")
												option(value = "") Choose View
												//- // - for (b = 0; b < box_view.length; b++)
													option(value = box_view[b])= box_view[b]
								div.col-lg-3
									div.col-lg-12
										a.btn.btn-default(onClick = "ToggleHide(this)"  style = "margin-right : 2px")
											i.fa.fa-list.fa-1x
										a.btn.btn-default(onClick = "RemoveBox(this)")
											i.fa.fa-trash-o
						div.tempat-field
			div#template_box_data
				div.row.row-title
					div.col-lg-12
						center
							label BOX
				div.tempat-box
					- if (type == 'tambah')
						div#list-box(style = "display : none")
							fieldset(style='border:1px solid black; padding : 5px;')
								div.field-input
									div.row(style = 'margin-bottom : 0px !important')
										div.col-lg-3
											div.form-group
												div.col-lg-11
													select#box-content.form-control
														option(value = "") Choose Box
														//- // - for (bn = 0; bn < box_name.length; bn++)
															option(value = box_name[bn])= box_name[bn]
										div.col-lg-3
											div.form-group
												div.col-lg-11
													select#box-data.form-control
														option(value = "") Choose Data
														- for (bd = 0; bd < contentType.length; bd++)
															option(value = contentType[bd].id)= contentType[bd].nama
										div.col-lg-3
											div.form-group
												div.col-lg-11
													select#box-view.form-control(onchange = "PilihBoxView(this)")
														option(value = "") Choose View
														//- - for (b = 0; b < box_view.length; b++)
														//- 	option(value = box_view[b])= box_view[b]
										div.col-lg-3
											div.col-lg-12
												a.btn.btn-default(onClick = "ToggleHide(this)"  style = "margin-right : 2px")
													i.fa.fa-list.fa-1x
												a.btn.btn-default(onClick = "plusBox(this)")
													i.fa.fa-plus
								div.tempat-field
					
					- else
						- for (e = 0; e < data.box.length; e++)
							div#list-box
								fieldset(style='border:1px solid black; padding : 5px; margin-top : 5px')
									div.field-input
										div.row(style = 'margin-bottom : 0px !important')
											div.col-lg-3
												div.form-group
													div.col-lg-11
														select#box-content.form-control(data-value = data.box[e].name)
															option(value = "") Choose Box
											div.col-lg-3
												div.form-group
													div.col-lg-11
														select#box-data.form-control
															option(value = "") Choose Data
															- for (bd = 0; bd < contentType.length; bd++)
																- if (contentType[bd].id == data.box[e].data)
																	option(value = contentType[bd].id selected)= contentType[bd].nama
																- else
																	option(value = contentType[bd].id)= contentType[bd].nama
											div.col-lg-3
												div.form-group
													div.col-lg-11
														select#box-view.form-control(onchange = "PilihBoxView(this)" data-value = data.box[e].view)
															option(value = "") Choose View
											div.col-lg-3
												div.col-lg-12
													a.btn.btn-default(onClick = "ToggleHide(this)"  style = "margin-right : 2px")
														i.fa.fa-list.fa-1x
													- if (e == 0 )
														a.btn.btn-default(onClick = "plusBox(this)")
															i.fa.fa-plus
													- else
														a.btn.btn-default(onClick = "RemoveBox(this)")
															i.fa.fa-trash-o
									div.tempat-field
										- var fields = data.box[e].field
										- for (s = 0; s < fields.length; s++)
											div.form-group
												label.control-label.col-lg-2=fields[s].label
												div.col-lg-3
													select.form-control(data-label = fields[s].label data-value = fields[s].value)
														option(value = "") Choose
														option(value = fields[s].value selected)= fields[s].value							

script.
	pageSetUp();

	//- function untuk menampilkan box apa saja dalam layout
	function PilihLayout (selector) {
		var layout = $(selector).val();
		if (layout == '') {
			$('#template_box_data #list-box').hide();
		} else {
			$.ajax({
				url : '/manage/uri/getLayout',
				type : 'POST',
				dataType : 'json',
				data : { id_layout : layout },
				success : function (msg) {
					var element = '<option value = ""> Choose </option>';
					msg.forEach(function (i){
						element +='<option value = "'+i+'"> '+i+' </option>';
					});
					$('#template_box_data #list-box').find('select#box-content').html(element);
					$('#template_box_list #list-box').find('select#box-content').html(element);
					$('#template_box_data #list-box').show();
				}
			});
		}
	}
	function getListWidget() {
		$.ajax({
			url : '/manage/widget/getList',
			type : 'GET',
			beforeSend : function() {
				console.log("Mengambil Data Widget");
			},
			success : function(msg) {
				var selector = $("#template_box_data #box-view, #template_box_list #box-view");
				var element = "";
				element += '<option value = ""> -- Choose View -- </option>';
				msg.forEach(function (doc) {
					element += "<option value=" + doc._id + " data-view=\"" + doc.mixin + "\">" + doc.name + "</option>";
				});
				selector.html(element);
			}
		})
	}

	function getOneWidget(id, callback) {
		$.ajax({
			url : '/manage/widget/getList',
			type : 'GET',
			data : { id : id},
			beforeSend : function() {
				console.log("Mengambil Data Widget");
			},
			success : function(msg) {
				if (msg.status == 200) {
					return callback(msg.data);
				}
				else {
					alert("Kesalahan Server");
				}
			}
		})
	}

	function HapusElement(selector) {
		var cek_no = $('div#template_list label.control-label').attr('data-no');
		cek_no = parseInt(cek_no) - 1;
		$('div#template_list label.control-label').attr('data-no', cek_no);
		$('div#template_list label.control-label').text('Uri Segment '+cek_no);
		$(selector).closest('div.form-group').remove();
	}

	function PlusSegment(selector) {
		var cek_no = $('div#template_list label.control-label').attr('data-no');
		cek_no = parseInt(cek_no) + 1;
		$('div#template_list label.control-label').attr('data-no', cek_no);
		$('div#template_list label.control-label').text('Uri Segment '+cek_no);
		var html = $('div#template_list').html();
		$('#template_data').append(html);
	}

	//- function untuk hide/show field 
	function ToggleHide(selector) {
		console.log($(selector).closest('div.field-input').next().is(':visible'));
		if ($(selector).closest('div.field-input').next().html() != '') {
			$(selector).closest('div.field-input').next().slideToggle('slow');
		}
		return false;
	}

	//- function untuk menampilkan field" box view 
	function PilihBoxView (selector) {
		var view = $(selector).val();
		var data_field = $(selector).closest('div.col-lg-3').prev().find('select#box-data').val();
		var element =  '';
		if (data_field == '' || view == '') {
			$(selector).closest('div.field-input').next().html('');
		} else {
			$.ajax({
				url : '/manage/uri/getField',
				type : 'POST',
				dataType : 'json',
				data : { type : data_field },
				success : function (msg) {
					getOneWidget(view, function(widget) {
						if (widget != null) {
							widget.field.forEach(function (i){
								element +='<div class = "form-group"> <label class = "control-label col-lg-3">'+i+'</label><div class = "col-lg-9">';
								var option = '<select class = "form-control"><option value = ""> Choose </option>';
								msg.forEach(function (x){
									option += '<option value = "'+x+'">'+x+'</option>';
								});
								element += option+' </select></div></div>';
							});
							$(selector).closest('div.field-input').next().html(element);
						}						
					});
				}
			});
		}
	}

	//-  function untuk menghapus box
	function RemoveBox(selector) {
		$(selector).closest('#list-box').remove()
	}

	//- function untuk menabah box
	function plusBox(selector) {
		var html = $('#template_box_list').html();
		$('#template_box_data div.tempat-box').append(html);
		return false;
	}

	$(function (){
		getListWidget();
		var checkList = $('div#template_data div.form-group');
		checkList.each(function (i){
			var type = $(this).find('#box-type select').val();
			var label = $(this).find('#box-type select').attr('data-value');
			var elementoption = '<option value = "" > Choose List </option>';
			var selector = $(this);
			if (type != '') {
				$.ajax({
					url : '/manage/uri/getList',
					type : 'POST',
					dataType : 'json',
					data : { type : type },
					success : function (msg) {
						msg.forEach(function (i){
							if (label == i.list ) {
								elementoption += '<option selected value = "'+i.list+'">'+i.list+'</option>';
							} else {
								elementoption += '<option value = "'+i.list+'">'+i.list+'</option>';
							}
						});
						selector.find('#box-label select').html(elementoption);
					}
				});
			}
		});

		$('div#template_box_data #list-box').each(function (i){
			var data_box = $(this).find('select#box-data').val();
			var name_box = $(this).find('select#box-content').attr('data-value');
			var id_layout = $('select#layout').val();
			var view_box = $(this).find('select#box-view').attr('data-value');
			var target = $(this);
			$.ajax({
				url : '/manage/widget/getList',
				type : 'GET',
				beforeSend : function() {
					console.log("Mengambil Data Widget");
				},
				success : function(msg) {
					var elementView = '';
					elementView += '<option value = ""> -- Choose View -- </option>';
					msg.forEach(function (v){
						if (v.mixin == view_box ) {
							elementView +='<option selected value = "'+v._id+'" data-view = "'+v.mixin+'">'+v.name+'</option>';
						} else {
							elementView +='<option value = "'+v._id+'" data-view = "'+v.mixin+'">'+v.name+'</option>';
						}
					});
					target.find('select#box-view').html(elementView);
				}
			});

			$.ajax({
				url : '/manage/uri/getLayout',
				type : 'POST',
				dataType : 'json',
				data : { id_layout : id_layout },
				success : function (msg) {
					var elementlayout = '<option value = ""> Choose </option>';
					var elementlayoutHide = '<option value = ""> Choose </option>';
					msg.forEach(function (i){
						if (name_box == i ) {
							elementlayout +='<option selected value = "'+i+'"> '+i+' </option>';
						} else {
							elementlayout +='<option value = "'+i+'"> '+i+' </option>';
						}
						elementlayoutHide +='<option value = "'+i+'"> '+i+' </option>';
					});
					$('#template_box_list #list-box').find('select#box-content').html(elementlayoutHide);
					target.find('select#box-content').html(elementlayout);
				}
			});

			//- get data field saat edit 
			$(this).find('.tempat-field div.form-group').each(function (x){
				var label = $(this).find('select.form-control').attr('data-label');
				var value = $(this).find('select.form-control').attr('data-value');
				var selector = $(this);
				$.ajax({
					url : '/manage/uri/getField',
					type : 'POST',
					dataType : 'json',
					data : { type : data_box },
					success : function (msg) {
						var element = '<option value = ""> Choose </option>';
						msg.forEach(function (e){
							if (e == value) {
								element += '<option value = "'+e+'" selected>'+e+'</option>';
							} else {
								element += '<option value = "'+e+'">'+e+'</option>';
							}
						});
						selector.find('select').html(element);
					}
				});
			});
		});


		function KirimData(data , url , selector) {
			$.ajax({
				url : url,
				type : 'POST',
				dataType : 'json',
				data : { data : JSON.stringify(data) } ,
				success : function (msg) {
					if (msg.status == 'sukses') {
						window.location.href = '/main#/manage/uri';
					} else {
						$('#tempat-pesan').html('<p class = "alert alert-danger "> '+msg.pesan+'</p>');
					}
				$(selector).attr('disabled', false);
				}
			})
		}
		
		//- tambah uri
		$('.simpan').click(function (e){
			e.preventDefault();
			$(this).attr('disabled', true);
			var name = $('#name').val();
			var uri = $('#uri').val();
			var layout = $('#layout').val();
			var data = {
				uri_name : name,
				uri : uri,
				layout : layout
			}
			var segment = [];
			if ($('div#template_data').length != 0 ) {
				var search = $('#template_data div.form-group');
				search.each(function (i){
					var type = $(this).find('#box-type select').val();
					var label = $(this).find('#box-label select').val();
					if (label != '' || type != '') {
						segment.push({
							type : type,
							label : label
						});
					}
				});
			}
			data.segment = segment;
			var box_arr = [];
			if ($('#template_box_data').length != 0) {
				var box = $('#template_box_data #list-box');
				box.each(function (i){
					var box_name = $(this).find('select#box-content').val();
					var box_data = $(this).find('select#box-data').val();
					var box_view_value = $(this).find("select#box-view").val();
					var box_view = $(this).find('select#box-view').find("option[value='" + box_view_value + "']").attr("data-view");
					var field = [];
					$(this).find('.tempat-field div.form-group').each(function (x){
						var label = $(this).find('label.control-label').text().toLowerCase();
						var value = $(this).find('select.form-control').val();
						field.push({
							label : label,
							value : value
						});
					});
					box_arr.push({
						name : box_name,
						data : box_data,
						view : box_view,
						field : field
					});
				});
			}
			data.box = box_arr;
			if (name == '' || uri == '' || layout == '') {
				$('#tempat-pesan').html('<p class = "alert alert-danger "> data masih kosong !!!</p>');
				$('.simpan').attr('disabled',false);
			} else {
				KirimData(data , '/manage/uri/simpan', '.simpan');
			}
		});
		
		//- edit uri
		$('#simpan').click(function (e){
			e.preventDefault();
			$(this).attr('disabled', true);
			var name = $('#name').val();
			var uri = $('#uri').val();
			var layout = $('#layout').val();
			var id = $(this).attr('data-id');
			var data = {
				uri_name : name,
				uri : uri,
				layout : layout
			}
			var segment = [];
			if ($('div#template_data').length != 0 ) {
				var search = $('#template_data div.form-group');
				search.each(function (i){
					var type = $(this).find('#box-type select').val();
					var label = $(this).find('#box-label select').val();
					segment.push({
						type : type,
						label : label
					});
				});
			}
			data.segment = segment;
			var box_arr = [];
			if ($('#template_box_data').length != 0) {
				var box = $('#template_box_data #list-box');
				box.each(function (i){
					var box_name = $(this).find('select#box-content').val();
					var box_data = $(this).find('select#box-data').val();
					var box_view_value = $(this).find("select#box-view").val();
					var box_view = $(this).find('select#box-view').find("option[value='" + box_view_value + "']").attr("data-view");
					var field = [];
					$(this).find('.tempat-field div.form-group').each(function (x){
						var label = $(this).find('label.control-label').text().toLowerCase();
						var value = $(this).find('select.form-control').val();
						field.push({
							label : label,
							value : value
						});
					});
					box_arr.push({
						name : box_name,
						data : box_data,
						view : box_view,
						field : field
					});
				});
			}
			data.box = box_arr;
			//- console.log(data);
			if (name == '' || uri == '' || layout == '') {
				$('#tempat-pesan').html('<p class = "alert alert-danger "> data masih kosong !!!</p>');
				$('#simpan').attr('disabled',false);
			} else {
				$.ajax({
					url : '/manage/uri/edit',
					type : 'POST',
					dataType : 'json',
					data : { data : JSON.stringify(data) , id : id } ,
					success : function (msg) {
						if (msg.status == 'sukses') {
							window.location.href = '/main#/manage/uri';
						} else {
							$('#tempat-pesan').html('<p class = "alert alert-danger "> '+msg.pesan+'</p>');
						}
					$('#simpan').attr('disabled', false);
					}
				});
			}
		});
	});

	$('#batal').click(function (e){
		e.preventDefault();
		window.location.href = '/main#/manage/uri';
	});

	function PilihList(selector) {
		var value = $(selector).val();
		var elementoption = '<option value = "" > Choose List </option>';
		if (value != '') {
			$.ajax({
				url : '/manage/uri/getList',
				type : 'POST',
				dataType : 'json',
				data : { type : value },
				success : function (msg) {
					msg.forEach(function (i){
						elementoption += '<option value = "'+i.list+'">'+i.list+'</option>';
					});
					$(selector).closest('#box-type').next().find('select').html(elementoption);
				}
			});
		} else {
			$(selector).closest('#box-type').next().find('select').html(elementoption);
		}
	}