form.form-horizontal
	div#proses
	div.form-group
		label.control-label.col-lg-3 Name
		div.col-lg-7
			- if (type == 'tambah')
				input.form-control#name(type = 'text' )
			- else
				input.form-control#name(type = 'text' value = data.name)
	div.form-group
		label.control-label.col-lg-3 Type
		div.col-lg-7
			- var optionType = ['html','data list','form','populer','form search','data search'];
			- if (type == 'tambah')
				select.form-control(onchange="gantiType(this)")#type
					option(value="") Choose Type Widget
					each type in optionType
						option(value=type)= type
			- else
				select.form-control(disabled)#type
					option(value="") Choose Type Widget
					each type in optionType
						option(value=type selected=type==data.type ? 'selected' : false)= type

	- var classnyaHtml = "hidden";
	- var classnyaForm = "hidden";
	if (data)
		if (data.type == "html")
			- classnyaHtml = "";
		if (data.type == "form")
			- classnyaForm = "";
	div#dataForm(class="box-data " + classnyaForm)
		div.form-group
			label.control-label.col-lg-3 Data
			div.col-lg-7
				- if (type == 'tambah') 
					select.form-control#contentTypeForm(onchange="getField(this)")
						option(value="") Choose Content Type
						each data in contentType
							option(value=data.id)= data.list
				- else 
					select.form-control#contentTypeForm(onchange="getField(this)" data-field=field)
						option(value="") Choose Content Type
						each ct in contentType
							option(value=ct.id selected=ct.id==data.contentType ? 'selected' : false)= ct.list
	div#dataHtml(class="box-data " + classnyaHtml)
		div.form-group
			label.control-label.col-lg-3 Html / Javascript
			div.col-lg-7
				textarea.form-control(rows=5)#htmlCode
					= data && data.code

	- var classnya = "hidden";
	- var classnyaOption = 'hidden';
	- var classSearch = "hidden"
	- var classOrder = "hidden"
	if (data)
		if ((data.type == 'data list' || data.type == 'data search' || data.type == 'populer') && data.view != 'item_detail')
			- classnyaOption = '';
		if (data.view == 'detail-custom')
			- classnyaOption = 'hidden';
		if (data.type == "data list" || data.type == 'data search' || data.type == 'populer')
			- classnya = "";
		if (data.type == "form search")
			- classSearch = "";

	div#formSearch(class="box-data " + classSearch)
		div.form-group
			label.control-label.col-lg-3
			div.col-lg-7
				- if (type == 'tambah') 
					select.form-control#contentTypeSearch(onchange="getField(this)")
						option(value="") Choose Content Type
						each data in contentType
							option(value=data.id)= data.list
				- else 
					select.form-control#contentTypeSearch(onchange="getField(this)" data-field=field)
						option(value="") Choose Content Type
						each ct in contentType
							option(value=ct.id selected=ct.id==data.contentType ? 'selected' : false)= ct.list

	div#dataWidget(class="box-data " + classnya)
		div.form-group
			label.control-label.col-lg-3 Data
			div.col-lg-7
				- if (type == 'tambah') 
					select.form-control#contentType(onchange="getField(this)")
						option(value="") Choose Content Type
						each data in contentType
							option(value=data.id)= data.list
				- else 
					select.form-control#contentType(onchange="getField(this)" data-field=field)
						option(value="") Choose Content Type
						each ct in contentType
							option(value=ct.id selected=ct.id==data.contentType ? 'selected' : false)= ct.list
		div.form-group
			label.control-label.col-lg-3 View
			div.col-lg-7
				//- // - var viewWidget = ['article_thumbnail','list_url'];
				- if (type == 'tambah') 
					select.form-control#view(onchange='getOneWidget(this)')
						option(value="") Choose View Widget
						option(value="detail-custom") Detail Post Custom
						each view in viewWidget
							option(value=view.mixin data-id=view._id)= view.name
					div#box-view.col-md-12
						//- label.control-label.col-lg-3 Field
						//- div.col-lg-7
						//- 	select.form-control
						//- 		option(value="aslda") aslda
				- else 
					select.form-control#view(onchange='getOneWidget(this)')
						option(value="") Choose View Widget
						option(value="detail-custom" selected="detail-custom"==data.view ? 'selected' : false) Detail Post Custom
						each view in viewWidget
							option(value=view.mixin data-id=view._id selected=view.mixin==data.view ? 'selected' : false)= view.name
					div#box-view.col-md-12
						if (data.field)
							if (data.view != "detail-custom")
								each kolom in data.field
									label.control-label.col-lg-3= kolom.label
									div.col-lg-7
										select.form-control(data-id=kolom.label)
											each kolom2 in JSON.parse(field)
												option(value=kolom2.value, data-type=kolom2.type selected=kolom2.value==kolom.value ? 'selected' : false)= kolom2.value
							else
								each kolom in data.field
									if (kolom.label != "customField")
										label.control-label.col-lg-3= kolom.label
										div.col-lg-7
											select.form-control(data-id=kolom.label)
												each kolom2 in JSON.parse(field)
													option(value=kolom2.value data-type=kolom2.type selected=kolom2.value==kolom.value ? 'selected' : false)= kolom2.value
									else
										div#customField
											- var itungan = 0;
											each d in kolom.data
												div.box-field
													input.form-control.label-content-detial.col-md-3(placeholder="Add Field" style="width:70px" value=d.label)
													div.col-md-6
														select.form-control(data-id="custom-field")
															each kolom2 in JSON.parse(field)
																option(value=kolom2.value data-type=kolom2.type selected=kolom2.value==d.value ? 'selected' : false)= kolom2.value
													div.col-lg-1(style="padding-top:10px")
														if (itungan == 0)
															button(type="button" onclick="addField(this)").btn.btn-xs.btn-default.btn-plus
																i.fa.fa-plus
														else
															button(type="button" onclick="removeField(this)").btn.btn-xs.btn-default.btn-plus
																i.fa.fa-trash-o
												- itungan++

		div#widgetOptional(class = classnyaOption)
			div.form-group
				label.control-label.col-lg-3 Limit
				div.col-lg-4
					- if (type == 'tambah')
						input.form-control(type = 'number' min=1)#limit
					- else
						input.form-control(type = 'number' value = data.limit)#limit
			div.form-group
				label.control-label.col-lg-3 Sort
				div.col-lg-7
					- var method = [{value : '1' , name : 'asc'}, { value : '-1' , name : 'desc'}]
					select.form-control#sort-method
						option(value = "") Choose Method
						- if (type == 'tambah')
							- for (m = 0; m < method.length; m++)
								option(value = method[m].value)= method[m].name
						- else
							if (data.type == 'data list' || data.type == 'data search')
								- for (m = 0; m < method.length; m++)
									option(value = method[m].value selected=data.order.method==method[m].value?'selected':false)= method[m].name
					- if (type == 'tambah')
						select.form-control#sort-column
							option(value = "") Choose Column	
					- else
						select.form-control#sort-column(data-value = data.order&&data.order.column , data-type = data.contentType)
							option(value = "") Choose Column
			div.form-group
				label.control-label.col-lg-3 Label
				div.col-lg-7
					- if (type == 'tambah') 
						select.form-control(onchange="changeLabel(this)")#label
							option(value="all") Semua Label
							each data in label
								option(value=data.label)= data.label
					- else 
						select.form-control#label(onchange="changeLabel(this)")
							option(value="all") Semua Label
							each ct in label
								option(value=ct.label selected=ct.label==data.label ? 'selected' : false)= ct.label
					- var classTag = 'hidden';
					if (type == "edit")
						- classTag = '';
					div.form-group#optionTag(class=classTag)
						div.col-md-12
							select.form-control#selectTag(data-value=data&&data.tag)
								option(value="") Choose Tag
		div.form-group
			label.control-label.col-lg-3 Accept URI Content
			div.col-lg-7
				-var checked = false;
				- if (data)
					if (data.dataUri)
						- checked = true;
				input(type="checkbox" name="datauri" id="datauri" checked=checked)
	div.form-group
		div.col-lg-8.col-lg-offset-2
			- if (type == 'tambah')
				button.btn.btn-info#simpan Simpan
			- else
				button.btn.btn-info(data-id = data._id).simpan-edit Simpan
			button.btn.btn-danger#batal(style = 'margin-left : 10px') Batal

script.
	pageSetUp();
	var fieldCT = [];
	var fieldView = [];

	if ("#{type}" == "edit") {
		fieldCT = JSON.parse($("#contentType").attr("data-field"));
	}

	function changeLabel(element) {
		var label = $(element).val();
		$.post("/manage/widget/getTag", {label : label}, function(hasil) {
			var selector = $("#optionTag");
			var element2 = "";
			element2 = "<option value=\"all\">Semua Tags</option>";
			hasil.forEach(function(doc) {
				element2 += "<option value=\"" + doc._id + "\">" + doc._id + "</option>";
			});
			if (label != '') {
				selector.removeClass("hidden");	
			}
			selector.find("select").html(element2);
			if ("#{type}" == "edit") {
				$("#optionTag").find("option[value=\"" + $("#selectTag").attr("data-value") + "\"]").attr("selected","selected");
			}
		})
	}

	if ("#{type}" == "edit") {
		$("#label").change();
	}

	function gantiType(element) {
		var selector = $(element);
		var value = selector.val();
		if (value == "html") {
			$(".box-data").slideUp(200);
			$(".box-data").addClass("hidden");
			$("#dataHtml").removeClass("hidden");
			$("#dataHtml").slideDown(200);
		} else if (value == "data list" || value == 'data search' || value == 'populer') {
			$(".box-data").slideUp(200);
			$(".box-data").addClass("hidden");
			$("#dataWidget").removeClass("hidden");
			$("#dataWidget").slideDown(200);
		} else if ( value == 'form search') {
			$(".box-data").slideUp(200);
			$(".box-data").addClass("hidden");
			$("#dataForm").removeClass("hidden");
			$("#dataForm").slideDown(200);		
		} else if (value == "form") {
			$(".box-data").slideUp(200);
			$(".box-data").addClass("hidden");
			$("#dataForm").removeClass("hidden");
			$("#dataForm").slideDown(200);
		} else if (value == "populer") {
			$(".box-data").slideUp(200);
			$(".box-data").addClass("hidden");
			$("#dataPopuler").removeClass("hidden");
			$("#dataPopuler").slideDown(200);
		} else {
			$(".box-data").addClass("hidden");
		}
	}

	function elementField() {
		var element = "";
		//- element += "<option value=\"\">-- Choose Field -- </option>";
		fieldCT.forEach(function(docField) {
			element += "<option value=\"" + docField.value + "\" data-type=\"" + docField.type + "\">" + docField.value + "</option>";
		});
		return element;
	}

	function addField(element) {
		var selector = $(element).closest(".box-field").clone();
		selector.find(".btn-plus").remove();
		selector.find("select.form-control").attr("data-id", "custom-field");
		selector.find("input").attr("value", "");

		selector.find(".col-lg-1").append("<button class=\"btn btn-xs btn-default\" type=\"button\" onclick=\"removeField(this)\"><i class=\"fa fa-trash-o\"></i></button>");

		var element = selector.html();
		$("#customField").append("<div class=\"box-field\">" + element + "</div>");
		return false;
	}

	function removeField(element) {
		$(element).closest(".box-field").remove();
		return false;
	}

	function getOneWidget(element) {
		var value = $(element).val();
		var id = $(element).find("option[value='" + value + "']").attr("data-id");
		if (value != 'item_detail' && value != '' && value != 'detail-custom') {
			$("#widgetOptional").removeClass("hidden");
		} else {
			$("#widgetOptional").addClass("hidden");
		}

		if (value == '') {
			$("#box-view").html("");
		}
		if (value == 'detail-custom') {
			var elementBox = "<label class=\"control-label col-lg-3\"> Image </label>";
			elementBox += "<div class=\"col-lg-7\">";
			elementBox += "<select class=\"form-control\" data-id=\"image\">" + elementField() + "</select>";
			elementBox += "</div>";
			elementBox += "<div id=\"customField\"><div class=\"box-field\">";
			elementBox += "<input class=\"form-control label-content-detial col-md-3\" style=\"width:70px\" placeholder=\"Add Field\">"
			elementBox += "<div class=\"col-lg-6\">";
			elementBox += "<select class=\"form-control\" data-id=\"custom-field\">" + elementField() + "</select>";
			elementBox += "</div><div class=\"col-lg-1\" style=\"padding-top:10px\">";			
			elementBox += "<button type=\"button\" class=\"btn btn-xs btn-default btn-plus\" onclick=\"addField(this)\"><i class=\"fa fa-plus\"></i></button>";
			elementBox += "</div></div></div>";

			elementBox += "<label class=\"control-label col-lg-3\"> Content </label>";
			elementBox += "<div class=\"col-lg-7\">";
			elementBox += "<select class=\"form-control\" data-id=\"content\">" + elementField() + "</select>";
			elementBox += "</div>";
			$("#box-view").html(elementBox);
		} else {
			if (id) {
				$.ajax({
					url : '/manage/widget/getList',
					type : 'GET',
					data : { id : id},
					beforeSend : function() {
						console.log("Mengambil Data Widget");
					},
					success : function(msg) {
						var element = "";
						if (msg.status == 200) {
							msg.data.field.forEach(function(doc) {
								element += "<label class=\"control-label col-lg-3\">" + doc + "</label>";
								element += "<div class=\"col-lg-7\">";
								element += "<select class=\"form-control\" data-id=\"" + doc + "\">" + elementField() + "</select>";
								element += "</div>";
							});
						}
						else {
							alert("Kesalahan Server");
						}
						$("#box-view").html(element);
					}
				})
			}
		}
	}

	function getField(element) {
		var value = $(element).val();
		var elementField = '<option value = ""> Choose Column </option>';
		if (value != '') {
			$.post('/manage/uri/getField', {type : value}, function (data) {
				fieldCT = data;
				$("#view").trigger("change");
				data.forEach(function (f){
					elementField += '<option value = "'+f.value+'" data-type=' + f.type + '>'+f.value+'</option>';
				});
				$('select#sort-column').html(elementField);
			});
		} else {
			fieldCT = [];
			$("#view").trigger("change");
			$('select#sort-column').html(elementField);
		}
	}

	function GetDataFieldOrder () {
		var column_order = $('select#sort-column').attr('data-value');
		var id_contentType = $('select#sort-column').attr('data-type');
		$.post('/manage/uri/getField', {type : id_contentType}, function (data) {
			var elementColumn = '<option value = ""> Choose Column</option>';
			data.forEach(function (c){
				if (column_order == c) {
					elementColumn +='<option selected value = "'+c.value+'">'+c.value+'<option>';
				} else {
					elementColumn +='<option value = "'+c.value+'">'+c.value+'<option>';
				}
			});
			$('select#sort-column').html(elementColumn);
		});
	}

	function EndProses() {
		$('#modal_All').modal('hide');
		$('#clear').click();
		return false;
	}

	$(function (){
		if ("#{type}" == "edit") {
			GetDataFieldOrder();	
		}
		$('#batal').click(function (e){
			e.preventDefault();
			EndProses();
		});

		//- edit widget
		$('.simpan-edit').click(function (e){
			e.preventDefault();
			var name = $('#name').val();
			var type = $('#type').val();
			//- VALIDASI JIKA KOSONG
			if (name == "" || type == "") {
				return $("#proses").html("<p class=\"alert alert-danger\">Masih Ada Data Yang Kosong</p>");
			}
			var contentType = type == 'form' ? $("#dataForm #contentTypeForm").val() : $("#dataWidget #contentType").val();
			var selector = $(this);
			var view = $("#view").val();
			var label = $("#label").val();
			var tag = $("#selectTag").val();
			var field = [];
			var datauri = $('#datauri').is(":checked");

			var limit = $('#limit').val();
			var sort_method = $('#sort-method').val();
			var sort_column = $('select#sort-column').val();

			if (type == "data list") {
				if (contentType == "" || view == "") {
					return $("#proses").html("<p class=\"alert alert-danger\">Masih Ada Data Yang Kosong</p>");	
				}				
			}

			$("#box-view").find("select[data-id!='custom-field']").each(function() {
				var object = {
					label : $(this).attr("data-id"),
					type : $(this).find("option:selected").attr("data-type"),
					value : $(this).val()
				};
				field.push(object);
			});
			var dinamicField = [];
			$("#box-view").find(".box-field").each(function() {
				var object = {
					label : $(this).find("input").val(),
					type : $(this).find("select option:selected").attr("data-type"),
					value : $(this).find("select").val()
				}
				dinamicField.push(object);
			})

			if ($("#customField").length != 0) {
				field.push({
					label : "customField",
					type : "object",
					data : dinamicField,
					value : "object"
				});				
			}

			var dataInsert = {}

			if (type == "html" || type == "content") {
				dataInsert = {
					name : name,
					type : type,
					code : type == "html" && $("#htmlCode").val()
				}
			} else if (type == "form search") {
				dataInsert = {
					name : name,
					type : type,
					contentType : type == "form search" && $("#contentTypeSearch").val()
				}
			} else if (type == "form") {
				dataInsert = {
					name : name,
					type : type,
					contentType : contentType
				}
			} else if (type == "data list" || type == 'data search') {
				dataInsert = {
					name : name,
					type : type,
					contentType : contentType,
					label : label,
					view : view,
					field : field,
					limit : limit,
					order : {
						column : sort_column,
						method : sort_method
					},
					tag : tag,
					datauri : datauri
				}
			} else if (type == 'populer') {
				dataInsert = {
					name : name,
					type : type,
					contentType : contentType,
					label : label,
					view : view,
					field : field,
					limit : limit,
					tag : tag,
					datauri : datauri
				}
			}

			//- console.log(dataInsert);
			$.ajax({
				url : '/widget/edit',
				type : 'POST',
				data : {data : JSON.stringify(dataInsert), id : selector.attr("data-id")},
				beforeSend : function() {
					selector.attr("disabled","disabled");
				},
				success : function(msg) {
					if (msg.status == 'sukses') {
						EndProses();
					}
					else {
						$('#modal_All #kosong').html('<p class = "alert alert-danger"> '+msg.pesan+' </p>')
					}
					selector.removeAttr("disabled");
				}
			});
		});

		//- simpan data widget
		$('#simpan').click(function (e){
			e.preventDefault();
			var name = $('#name').val();
			var type = $('#type').val();

			//- VALIDASI JIKA KOSONG
			if (name == "" || type == "") {
				return $("#proses").html("<p class=\"alert alert-danger\">Masih Ada Data Yang Kosong</p>");
			}
			var contentType = type == 'form' ? $("#dataForm #contentTypeForm").val() : $("#dataWidget #contentType").val();
			var selector = $(this);
			var view = $("#view").val();
			var label = $("#label").val();
			var field = [];
			var tag = $("#selectTag").val();
			var datauri = $('#datauri').is(":checked");

			var limit = $('#limit').val();
			var sort_method = $('#sort-method').val();
			var sort_column = $('select#sort-column').val();

			if (type == "data") {
				if (contentType == "" || view == "") {
					return $("#proses").html("<p class=\"alert alert-danger\">Masih Ada Data Yang Kosong</p>");	
				}
			}
			$("#box-view").find("select[data-id!='custom-field']").each(function() {
				var object = {
					label : $(this).attr("data-id"),
					type : $(this).find("option:selected").attr("data-type"),
					value : $(this).val()
				};
				field.push(object);
			});
			var dinamicField = [];
			$("#box-view").find(".box-field").each(function() {
				var object = {
					label : $(this).find("input").val(),
					type : $(this).find("select option:selected").attr("data-type"),
					value : $(this).find("select").val()
				}
				dinamicField.push(object);
			})
			if ($("#customField").length != 0) {
				field.push({
					label : "customField",
					type : "object",
					data : dinamicField,
					value : "object"
				});				
			}
			
			var dataInsert = {
				name : name,
				type : type,
				contentType : contentType,
				label : label,
				view : view,
				field : field,
				limit : limit,
				order : {
					column : sort_column,
					method : sort_method
				},
				tag : tag,
				datauri : datauri
			}
			if (type == "html" || type == "content") {
				dataInsert = {
					name : name,
					type : type,
					code : type && $("#htmlCode").val()
				}
			} else if (type == "form") {
				dataInsert = {
					name : name,
					type : type,
					contentType : contentType
				}
			} else if (type == "form search") {
				dataInsert = {
					name : name,
					type : type,
					contentType : type == "form search" && $("#contentTypeSearch").val()
				}
			} else if (type == 'populer') {
				dataInsert = {
					name : name,
					type : type,
					contentType : contentType,
					label : label,
					view : view,
					field : field,
					limit : limit,
					tag : tag,
					datauri : datauri
				}
			}
			//- console.log(dataInsert);
			$.ajax({
				url : '/widget/simpan',
				type : 'POST',
				data : {data : JSON.stringify(dataInsert)},
				beforeSend : function() {
					selector.attr("disabled","disabled");
				},
				success : function(hasil) {
					if (hasil.status == 200) {
						EndProses();
					}
					else {
						$('#modal_All #kosong').html('<p class = "alert alert-danger"> '+hasil.pesan+' </p>')
					}
					selector.removeAttr("disabled");
				}
			});

		});
	});
