form.form-horizontal
	div.form-group
		label.control-label.col-lg-3 Name
		div.col-lg-7
			- if (type == 'tambah')
				input.form-control#name(type = 'text' )
			- else
				input.form-control#name(type = 'text' value = data.name)
	div.form-group
		label.control-label.col-lg-3 Mixin
		div.col-lg-7
			- if (type == 'tambah')
				input.form-control#mixin(type = 'text' )
			- else
				input.form-control#mixin(type = 'text' value = data.mixin)
	div.form-group
		label.control-label.col-lg-3 Field
		div.col-lg-7
			- if (type == 'tambah')
				select#field( name = "label[]" multiple class = "demo-default" placeholder = "Select a label...")
			- else 
				select#field( name = "label[]" multiple class = "demo-default" placeholder = "Select a label...")
					- for (i = 0; i < data.field.length; i++)
						option(value = data.field[i] selected = data.field[i])= data.field[i]
	div.form-group
		div.col-lg-8.col-lg-offset-2
			- if (type == 'tambah')
				button.btn.btn-info#simpan Simpan
			- else
				button.btn.btn-info(data-id = data._id).simpan-edit Simpan
			button.btn.btn-danger#batal(style = 'margin-left : 10px') Batal

script.
	pageSetUp();

	function EndProses() {
		$('#modal_All').modal('hide');
		$('#clear').click();
		return false;
	}

	$(function (){
		$('select#field').selectize({
			maxItems: 10,
			delimiter: ',',
			persist: false,
			create: function(input) {
				return {
					value: input,
					text: input
				}
			}
		});

		$('#batal').click(function (e){
			e.preventDefault();
			EndProses();
		});

		//- edit widget
		$('.simpan-edit').click(function (e){
			e.preventDefault();
			var name = $('#name').val();
			var mixin = $('#mixin').val();
			mixin = mixin.replace(/ /gi,'_');
			var selector = $(this);
			var id = selector.attr('data-id');
			var field = $('#field').val();
			selector.attr('disabled', true);
			var data = {
				name : name,
				mixin : mixin,
				field : field
			}
			if (name == '' || mixin == '' ) {
				$('#modal_All #kosong').html('<p class = "alert alert-danger"> Data Masih Kosong !!! </p>')
				selector.attr('disabled', false);
			} else {
				$.ajax({
					url : '/manage/widget/view/edit',
					dataType : 'json',
					type : 'POST',
					data : { data : JSON.stringify(data) , id : id},
					success : function (msg){
						if (msg.status == 'sukses') {
							EndProses();
						} else {
							$('#modal_All #kosong').html('<p class = "alert alert-danger"> '+msg.pesan+' </p>')
						}
						selector.attr('disabled', false);
					}
				});
			}
		});

		//- simpan data widget
		$('#simpan').click(function (e){
			e.preventDefault();
			var name = $('#name').val();
			var mixin = $('#mixin').val();
			mixin = mixin.replace(/ /gi,'_');
			var selector = $(this);
			var field = $('#field').val();
			selector.attr('disabled', true);
			var data = {
				name : name,
				mixin : mixin,
				field : field
			}
			if (name == '' || mixin == '' ) {
				$('#modal_All #kosong').html('<p class = "alert alert-danger"> Data Masih Kosong !!! </p>')
				selector.attr('disabled', false);
			} else {
				$.ajax({
					url : '/manage/widget/view/simpan',
					dataType : 'json',
					type : 'POST',
					data : { data : JSON.stringify(data) },
					success : function (msg){
						if (msg.status == 'sukses') {
							EndProses();
						} else {
							$('#modal_All #kosong').html('<p class = "alert alert-danger"> '+msg.pesan+' </p>')
						}
						selector.attr('disabled', false);
					}
				})
			}
		});
	});