extends layout
block content
	div(class="search-row-wrapper")
		div(class="container")
			form
				div.col-sm-3
					input(class="form-control" type="text" placeholder="e.g. Mobile Sale")
				div.col-sm-3
					select.form-control.keyword(name="category" id="search-category" tabindex="1")
						option(value="" class="selecter-placeholder" selected="") Select An Item
						option(value="" class="selecter-placeholder" selected="") Select An Item
						option(value="" class="selecter-placeholder" selected="") Select An Item
						option(value="" class="selecter-placeholder" selected="") Select An Item
				div.col-sm-3
					select.form-control.keyword(name="category" id="search-category" tabindex="1")
						option(value="" class="selecter-placeholder" selected="") Location
						option(value="" class="selecter-placeholder" selected="") Select An Item
						option(value="" class="selecter-placeholder" selected="") Select An Item
						option(value="" class="selecter-placeholder" selected="") Select An Item
				div(class="col-sm-3")
					button(class="btn btn-block btn-primary")
						i(class="fa fa-search")