extends layout
//- include ../panel/layoutGenerator/box-view
include widget/index
include ../panel/form/item_field_type.jade

block meta-head
	//- title= title ? title + " - " + site.site_name : site.site_name + ' | ' + site.description
	- var judul = title ? title + " - " + site.site_name : site.site_name
	title= site.description +' | '+ judul
	link(rel="stylesheet" href="/css/custom/default.css")
	link(rel="icon" href="data:;base64,iVBORw0KGgo=")
	link(href="/css/slick.css" type="text/css" rel="stylesheet")
	link(href="/css/slick-theme.css" type="text/css" rel="stylesheet")
	//- CSS FROM TEMPLATE GENERATOR
	each css in site.css
		link(rel="stylesheet" href="/dist/css/" + css)
	meta(name="description" content=site.description)
	meta(property="og:image" content=meta.img&&meta.img.imageUrl?meta.img.imageUrl:meta.img)
	meta(property="og:url" content=meta.url)
	//- JS FROM TEMPLATE GENERATOR
	!= headerCode

block content-header
block content-body
	div.main-container
		div.container
			//- Layout Generator
			- if (layout)
				each row in layout
					div.row
						each column in row.col_object
							div(class=column.class)
								each kotak in column.content
									div.box(name=kotak.name class=kotak.class)
										if (box)
											- var viewMixin = "";
											//- // p= kotak.visible || ""
											if (kotak.visible == true)
												h5.title-box=kotak.name
											each data in box
												if (data.name == kotak.name)
													- viewMixin = data.mixin;
													if (data.type == 'content')
														if (data.mixin != '')
															+#{data.mixin}(data.params)
													if (data.type == 'form')
														div#proses-form
														form(data-id-type=data.id_type data-type-name=data.type_name data-form="public")
															- var attr = data.component&&data.component.itemObject
															- for (i = 0; i < attr.length; i++)
																- var multi = attr[i].multi
																- var label = attr[i].label
																- var mix = 'itemField_'+attr[i].type
																div#list_data(style = "margin-top : 10px !important; margin-bottom : 10px !important")
																	- if (attr[i].type == 'label_tag')
																		+#{mix}("tambah" , multi , label , attr[i].option.value)
																	- else
																		+#{mix}("tambah" , multi , label )
															div.row
																div.col-lg-1
																div.col-lg-6
																	script(src='https://www.google.com/recaptcha/api.js')
																	- var siteKey = site.reSiteKey || "6LcvvSITAAAAAJbVEl0WqhbiyK5NJBMIbgMoX7X4";
																	div(class="g-recaptcha" data-sitekey=siteKey)
															div.row
																div.col-lg-1
																div.col-lg-6.no-padding
																	button.btn.btn-success#simpanItems Submit
											if (viewMixin == "list_thumbnail_big_unlimited")
												div.col-md-12.box-more
													button.btn.btn-default.btn-more(onclick="loadMore(this)") Load More
											div.clearfix
	script(src="/js/libs/jquery-2.1.1.min.js")
	script(src="/js/bootstrap/bootstrap.min.js")
	script(src="/js/slick.min.js")
	script(src="/js/duku-default.js")
	each js in site.js
		script(src = "/dist/js/"+js+".js")
	script(src="/js/avocado/prosessForm.js")
	script(src="/js/avocado/unlimitedData.js")
	script(src="/js/underscore.js")
	!= footerCode
