doctype html
html(lang="en")
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

	link(href="/css/bootstrap.min.css" rel="stylesheet")
	block meta-head
body
	block menu
	block header
		div(class="header")
			nav(class="navbar navbar-site navbar-default" role="navigation")
				div(class="container")
					div(class="navbar-header")
						button(data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button")
							span(class"sr-only")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(href="/" class="navbar-brand logo logo-title")
							span= site.site_name
							//- - var title = site.site_name.split(" ")
							//- != title[0]
							//- - for (var a = 1; a <= title.length; a++)
							//- 	span= title[a]

					div(class="navbar-collapse collapse")
						ul(class="nav navbar-nav navbar-right")
							- for (n = 0; n < navigasi.length; n++)
								li
									a(href = navigasi[n].url)=navigasi[n].label.toUpperCase()
		block content-header
		block content-body
	//- FOOTER
	footer
		div.container.text-center Copyright &copy; 
			=site.site_name
