div(id=":152" class="ii gt m1533db13abb3e357 adP adO")
	div(id=":156" class="a3s" style="overflow: hidden;")
		u
		div(bgcolor="#f4f4f4" link="398bce" marginwidth="0" marginheight="0" style="background:#f4f4f4;margin:0;padding:0")
			table(cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#f4f4f4" style="border-spacing:0;background:#f4f4f4")
				tbody
					tr
						td(style="border-collapse:collapse")
							table(border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="border-spacing:0" bgcolor="#ffffff")
								tbody
									//- tr
									//- 	td(valign="middle" style="text-align:left;border-collapse:collapse;padding:20px 0" align="left")
									//- 		//- a(href="http://email.support.digitalocean.com/e/c/eyJlbWFpbF9pZCI6Ik1UWXpOVE02Rm9DakFtUUFBbk1BRnhjVlVob0JVejF3a0FJVkFSaFcySDZrQVhNNk1UYzJOVE15QUE9PSIsInBvc2l0aW9uIjowLCJocmVmIjoiaHR0cHM6Ly93d3cuZGlnaXRhbG9jZWFuLmNvbSIsImxpbmtfaWQiOjMxOTAxMX0/f782b32c3dd678023c7569f0ad8568ec8e4dabd503a0887735a4d9c550be1a0d" target="_blank")
									//- 		//- 	img(src="https://ci3.googleusercontent.com/proxy/uUHD1KpPEH7GKuL5avfYm95lrr0HyS7AwViN9b6XPsye4D4qefrt3iSGhH73IZQsIZQztlS0GlOkypFhTC4sK7Bj-To5V9o9OiHxGu6H3psnpI18vlQ0=s0-d-e1-ft#https://assets.digitalocean.com/email/digitalocean-logo-color.png" height="29" width="180" border="0" class="CToWUd")
									//- 	td(valign="middle" style="text-align:right;font-family:Helvetica,Arial,sans-serif;font-size:12px;border-collapse:collapse;padding:20px 0" align="right")
									tr
										td(height="10" style="font-size:0;line-height:0;border-collapse:collapse") &nbsp;
											span(class="HOEnZb")
												font(color="#888888")
											span(class="HOEnZb")
												font(color="#888888")
											table(border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="border-spacing:0;background:#ffffff;border:1px solid #e5e5e5" bgcolor="#ffffff")
												tbody
													tr
														td(style="border-collapse:collapse")
													tr
														td(style="border-bottom-width:1px;border-bottom-color:#e5e5e5;border-bottom-style:solid;border-collapse:collapse")
														span(class="HOEnZb")
															font(color="#888888")
														span(class="HOEnZb")
															font(color="#888888")
														table(border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="border-spacing:0")
															tbody
																tr
																	td(style="font-family:sans-serif;font-size:16px;line-height:25px;color:#666666;border-collapse:collapse;padding:30px")
																		div
																			h1(style="font-size:28px;color:rgb(40,40,40)") DUKUJS
																			h1(style="font-size:20px;color:rgb(40,40,40)")= pesan
																		div
																			span= 'Written By ' + nama || ' Guest'
																			br
																			!=desc
																		- if (detail)
																			div
																				center
																					br
																					img(src=detail.img height="200px")
																					h4(style="margin-bottom:0px")= detail.caption						
																		- if (url)
																			div(style="padding:30px")
																				a(href=url style="font-size:13px;font-weight:100;font-family:Helvetica,Arial,sans-serif;text-transform:uppercase;text-align:center;letter-spacing:1px;text-decoration:none;margin:0 auto;line-height:62px;background:#398bce;display:block;width:300px;min-height:60px;border-radius:3px;color:#ffffff" target="_blank")= titleLink
																		br
																		div Happy Blogging
																		div Team DukuJS
																		span(class="HOEnZb")
																			font(color="#888888")