mixin item_teaser_list(params)
	- var totalParam = params.length-1;
	div.box-teaser-thumbnail
		- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
		div.box-view-thumbnail(class=thumbnail==''?'hidden':'')
			- if (thumbnail != "/thumbnail.png")
				div.thumbail.box-thumbnail(style="background-image:url('" + thumbnail + "')")
		div.box-view-desc
			h3.title
				a(href="/" + params[1].replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() + "_" + params[totalParam].id)=params[1]
			span.time=params[2]
			p.desc=params[3].substr(0,400) + "..."
mixin item_teaser_list_unlimited(params)
	- var totalParam = params.length-1;
	div.box-teaser-thumbnail-unlimited(data-id-type=params[totalParam].id_type data-id-widget=params[totalParam].id_widget)
		- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
		div.box-view-thumbnail(class=thumbnail==''?'hidden':'')
			div.thumbail.box-thumbnail(style="background-image:url('" + thumbnail + "')")
		div.box-view-desc
			h3.title
				a(href="/" + params[1].replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() + "_" + params[totalParam].id)=params[1]
			span.time=params[2]
			p.desc=params[3].substr(0,400) + "..."
			
mixin link_list(params)
	div.box-link_list
		ul
			li
				a(href="/" + params[0].replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() + "_" + params[1].id title=params[0] || params[1].id)= params[0] || params[1].id

mixin item_thumbnail(params)
	- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
	- var totalParam = params.length-1;
	li.box-list-thumbnail
		a(href="/" + params[1].replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() + "_" + params[totalParam].id title=params[1])
			div(style="background-image:url('" + thumbnail + "')")

mixin list_thumbnail_big(params)
	- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
	- var totalParam = params.length-1;
	div.box-list-thumbnail-big.col-md-3.col-sm-4.col-xs-6
		a(href="/" + params[1].replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() + "_" + params[totalParam].id)
			div.overlay
			div(style="background-image:url('" + thumbnail + "')").thumb
			div.text-caption
				span= params[1]

mixin list_thumbnail_big_unlimited(params)
	- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
	- var totalParam = params.length-1;
	div.box-list-thumbnail-big-unlimited.col-md-3.col-sm-4.col-xs-6(data-id-type=params[totalParam].id_type data-id-widget=params[totalParam].id_widget)
		a(href="/" + params[1].replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() + "_" + params[totalParam].id)
			div.overlay
			div(style="background-image:url('" + thumbnail + "')").thumb
			div.text-caption
				span= params[1]

mixin html(params)
	!=params


mixin item_left_thumbnail(params)
	div.box-article-list
		- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
		- var totalParam = params.length-1;
		div.row
			div.col-md-4.col-sm-4.col-xs-4
				div.thumbail.box-thumbnail(style="background-image:url('" + thumbnail + "')")
			div.col-md-8.col-sm-8.col-xs-4
				a(href = "/"+params[1].replace(/[^a-zA-Z0-9]/g,'-').toLowerCase()+'_'+params[totalParam].id)=params[1]
				br
				span.time=params[2]
				p.desc=params[3].substr(0,50) + "..."
		//- hr

mixin item_detail(params)
	- var totalParam = params.length-1;
	div.box-post
		div.box-post-thumbnail
			- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
			- if (thumbnail != "/thumbnail.png")
				div.thumbail.box-post(style="background-image:url('" + thumbnail + "')")
		div.box-post-desc
			h1.title=params[1]
			span.time=params[2]
			p.desc!=params[3]
		div.box-footer
			strong Posted By 
				span.box-author= params[totalParam].author

			div.box-tag
				span Tag 
				each t in params[totalParam].tag
					label.label.label-warning.label-tag= t
					| 
				br
				span Keyword 
				each keyword in params[totalParam].keyword
					if (keyword != null)
						each k in keyword
							label.label.label-info.label-keyword= k
							| 
//- mixin carouse_small(params)
	

mixin carousel(params)
	div(id = "carousel-example-generic" class = "carousel slide" data-ride = "carousel")
		//- <!-- Wrapper for slides -->
		div(class = "carousel-inner" role = "listbox")
			div(class = "item active")
				div.carousel-over
				div(class='carousel-img' style="background-image:url('" + params[0].images.imageUrl + "')")
				div(class = "carousel-caption")
					p=params[0].title
			- if (params.length >= 1 )
				- for (c = 1; c < params.length; c++)
					div.item
						- var thumbnail = params[c].images != undefined ? params[c].images.imageUrl : "/thumbnail.png";
						div.carousel-over
						div(class='carousel-img' style="background-image:url('" + thumbnail + "')")
						div(class = "carousel-caption")
							p=params[c].title
		//- control
		a(class = "left carousel-control" href = "#carousel-example-generic" role = "button" data-slide = "prev") 
			span(class = "glyphicon glyphicon-chevron-left" aria-hidden = "true")
			span(class = "sr-only") Previous
		a(class = "right carousel-control" href = "#carousel-example-generic" role = "button" data-slide = "next") 
			span(class = "glyphicon glyphicon-chevron-right" aria-hidden = "true")
			span(class = "sr-only") Next

mixin item_search(params)
	div.box-search
		form(action="/search/" + params)
			div.input-group
				input.form-control.form-search#search(type = "text" placeholder = "Search " name="q")
				div.input-group-btn
					button.btn.btn-default Search

mixin detail-custom(params)
	- var totalParam = params.length-1;
	div.box-detail
		div.box-detail-table.row
			div.col-md-3
				- var thumbnail = params[0] != undefined ? params[0].imageUrl != undefined ?  params[0].imageUrl : params[0] : "/thumbnail.png";
				div.thumbnail-post-detail(style="background-image:url('" + thumbnail + "')" class="thumbnail-post-detail-img")
			div.col-md-9
				table.table.table-responsive.table-striped
					thead.header-item
						tr
							th(colspan = 2)
								center
									h4= params[totalParam].title
					tbody
						each d in params[2]
							tr
								td(width=100)
									span.detail-label= d.label
								td!= d.value
		div.box-detail-content.row
			div.col-md-12(style="padding-top:2em")
				!= params[1]
mixin sticky-slider(params)
	div.slider
		div.box-slider
			each p in params
				- var thumbnail = p.image != undefined ? p.image.imageUrl != undefined ?  p.image.imageUrl : p.image : "/thumbnail.png";
				div.box-image-slider
					div.slider-image(style="background-image:url(" + thumbnail + ")")
						a(href=p.title.replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() + "_" + p.id)= p.title