link(rel="stylesheet" href="/css/custom/layout-generator.css")
script(src="/js/avocado/shortid.js")
include box-view

div.row
	div.col-md-6
		- var _id = '';
		- var name = '';
		- if (data)
			- _id = data._id
			- name = data.name
		form#formLayout(data-type=type || 'tambah' data-id = _id)
			div#proses
			div.col-md-6
				div.form-group
					input.form-control(type="text" placeholder="Name Layout" value= name)#nameLayout
			div.col-md-6
				button.btn.btn-default
					i.fa.fa-save 
					span  Save
				button.btn.btn-default(onclick="window.location.href='javascript:history.go(-1)'" type="button")
					i.fa.fa-arrow-left 
					span  Back
div.row
	div.col-md-12#content-layout.content-layout
		div.content-row
		div.row
			div.col-md-3
			div.col-md-6.text-center
				button.btn.btn-default.btn-lg(onclick='addRow(this)')
					i.fa.fa-plus 
					span  Row
			div.col-md-3

div#boxAddColumn
	div.row
		form#formAddClass(onsubmit="SubmitAddColumn(this); return false" data-type="tambah")
			div.form-group
				select#colmd.form-control
					- for (var i = 12; i >= 1; i--)
						option(value="col-md-" + i)= "Grid Medium " + i

			div.form-group
				select#colsm.form-control
					option(value="") ------ GRID SMALL RESOLUTION (OPTIONAL)-----
					- for (var i = 12; i >= 1; i--)
						option(value="col-sm-" + i)= "Grid Small " + i

			div.form-group
				select#collg.form-control
					option(value="") ------ GRID LARGE RESOLUTION (OPTIONAL) -----
					- for (var i = 12; i >= 1; i--)
						option(value="col-lg-" + i)= "Grid Large " + i
			div.form-group
				input.form-control(type="text" placeholder="Other Class")#otherClass
			div.form-group
				button.btn.btn-info.pull-right(data-dismiss="modal" type="button") Cancel
				button.btn.btn-info.pull-right(type="submit")#btnSubmitColumn Submit

div#boxRow.box-hidden
	div.row.layoutG.box-row
		div.contentnya
		div.clear
		div.row.margin-top
			div.col-md-3
			div.col-md-6.text-center
				button.btn.btn-lg.btn-default(onclick="addColumn(this)")
					i.fa.fa-plus 
					span  Column
				button.btn.btn-lg.btn-default(onclick="removeElement(this, '.box-row')")
					i.fa.fa-trash-o 
					span  Remove

div#boxColumn.box-hidden
	div(style="padding:1em").column
		span.caption-box
		div.contentBox
		div.clear
		div.row.text-center.margin-top
			button.btn.btn-sm.btn-default(onclick="addBox(this)")
				i.fa.fa-plus 
				span  Box
			button.btn.btn-sm.btn-default(onclick="editColumn(this, '.column')")
				i.fa.fa-pencil 
				span  Edit
			button.btn.btn-sm.btn-default(onclick="removeElement(this, '.column')")
				i.fa.fa-trash-o 
				span  Remove

div#boxAddBox.box-hidden
	div.row
		form#formAddBox(onsubmit="SubmitAddBox(this); return false" data-type="tambah")
			div#prosesAddBox
			div.form-group
				label.label-control Box Name
				input.form-control(type="text" required)#nameBox
			div.form-group
				label.label-control Class Name
				input.form-control(type="text")#classBox
			div.form-group
				label.label-control Visible
				div.checkbox
					label
						input(type = "checkbox")#boxVisible
						| Visible
			div.form-group
				button.btn.btn-info.pull-right(data-dismiss="modal" type="button") Cancel
				button.btn.btn-info.pull-right(type="submit")#btnSubmitBox Submit

div#columnBox.box-hidden
	div.column-box
		span.caption-box
		div#content-box
		span.tool-box
			button.btn.btn-xs.btn-default(onclick="editBox(this)")
				i.fa.fa-pencil
			button.btn.btn-xs.btn-default(onclick="removeElement(this, '.column-box')" style="margin-left:0px") &times;

- if (layout)
	script.
		$(function() {
			var a = !{JSON.stringify(layout)};
			a.forEach(function (doc) {
				var row = $("#boxRow");
				var tmpRow = $("#boxRow").html();
				var rownya = row.find(".layoutG");
				doc.col_object.forEach(function(col_doc) {
					var column = $("#boxColumn");
					var tmpColumn = $("#boxColumn").html();

					column.find(".column").addClass(col_doc.class.split(" ")[0]);
					column.find(".caption-box").text(col_doc.class);
					var classnya = col_doc.class.split(" ");
					var classCol = {};
					classCol.other = "";
					classnya.forEach(function(doc) {
						if (doc.match("md")) {
							classCol.md = doc;	
						}
						else if (doc.match("sm")) {
							classCol.sm = doc;
						}
						else if (doc.match("md")) {
							classCol.lg = doc;
						}
						else {
							classCol.other += doc + " ";
						}
					});
					classCol.other = classCol.other.substr(0, classCol.other.length-1);

					column.find(".column").attr({"data-class" : col_doc.class, "data-md" : classCol.md, "data-sm" : classCol.sm, "data-lg" : classCol.lg, 'data-otherClass' : classCol.other});

					//- BOX VIEW
					col_doc.content.forEach(function (c_doc) {
						var boxnya = $("#columnBox");
						var tmpColumnBox = $("#columnBox").html();
						boxnya.find(".column-box").attr("data-object", JSON.stringify(c_doc));
						boxnya.find(".caption-box").text(c_doc.name);
						boxnya.find("#content-box").html("<center><h4>" + c_doc.name + "</h4></center>");
						column.find(".contentBox").append(boxnya.html());
						$("#columnBox").html(tmpColumnBox);
					});

					rownya.find(".contentnya").append(column.html());
					//- $("#boxColumn").find(".column").removeClass(col_doc.class);
					$("#boxColumn").html(tmpColumn);
				});
				$(".content-row").append(row.html());
				$("#boxRow").html(tmpRow);
			});
		});
script.
	$(function (){
		$('.icp-auto').iconpicker({
			hideOnSelect: true
		});
	});
	var gridColumn = '';
	var currentGrid = '';
	var currentColumn = '';
	var currentBox = '';

	function addRow(element) {
		var selector = $(element);
		var row = $("#boxRow");
		selector.closest("#content-layout").find(".content-row").append(row.html());
	}

	function addColumn(element) {
		var selector = $(element).closest(".layoutG");
		$('.modal-admin').css('width', "400px");
		$('.modal-dialog').css('width', "400px");
		$('div#modal_All').modal('show');
		$('#modal_All .modal-title p').text("Add New Column");
		$('div#modal_All div#kosong').html('');
		var box = $("#boxAddColumn");
		gridColumn = selector;
		$('div#AllModal').html(box.html());
		$("#boxAddColumn").css("display", "hidden !important")
	}

	function editColumn(element) {
		var selector = $(element).closest(".layoutG");
		$('.modal-admin').css('width', "400px");
		$('.modal-dialog').css('width', "400px");
		$('div#modal_All').modal('show');
		$('#modal_All .modal-title p').text("Edit New Column");
		$('div#modal_All div#kosong').html('');
		var tmpBox = $("#boxAddColumn").html();
		var box = $("#boxAddColumn");
		gridColumn = selector;

		var column = $(element).closest(".column");
		currentGrid = column;
		//- select medium grid
		box.find("#colmd").find("option[value='" + column.attr("data-md") + "']").attr("selected","selected");
		//- select small grid
		box.find("#colsm").find("option[value='" + column.attr("data-sm") + "']").attr("selected","selected");		
		//- select large grid
		box.find("#collg").find("option[value='" + column.attr("data-lg") + "']").attr("selected","selected");		
		//- other class 
		box.find("#otherClass").attr("value", column.attr("data-otherClass"));
		box.find("#formAddClass").attr("data-type", "edit");
		$('div#AllModal').html(box.html());
		$("#boxAddColumn").html(tmpBox);
		$("#boxAddColumn").css("display", "hidden !important")
	}

	function SubmitAddColumn(element) {
		var gridsm = $(element).find("#colsm").val();
		var gridmd = $(element).find("#colmd").val();
		var gridlg = $(element).find("#collg").val();
		var otherClass = $(element).find("#otherClass").val();
		var gabunganClass = gridmd;

		if (gridsm != "") {
			gabunganClass += " " + gridsm;
		}
		if (gridlg != "") {
			gabunganClass += " " + gridlg;
		}
		if (otherClass != "") {
			gabunganClass += " " + otherClass;
		}

		if ($(element).attr("data-type") == "tambah") {
			var element = $("#boxColumn");
			element.find(".column").addClass(gridmd);
			element.find(".caption-box").text(gabunganClass);
			element.find(".column").attr({"data-class" : gabunganClass, "data-md" : gridmd, "data-sm" : gridsm, "data-lg" : gridlg, "data-otherClass" : otherClass});
			gridColumn.find(".contentnya").append(element.html());
		}
		else {
			currentGrid.attr({"data-class" : gabunganClass, "data-md" : gridmd, "data-sm" : gridsm, "data-lg" : gridlg, "data-otherClass" : otherClass, class : "column " + gridmd});
			currentGrid.find(".caption-box").text(gabunganClass);
			$(".close").trigger("click");
		}
		$("#boxColumn").find(".column").removeClass(gridmd);
		return false;
	}

	function SubmitAddBox(element) {
		var selector = $(element);
		var name = $(element).find("#nameBox").val();
		var visible = $(element).find('#boxVisible').prop('checked');
		var className  = $(element).find("#classBox").val();
		if ($("#" + name).length >= 1) {
			$(element).find("#prosesAddBox").html("<p class=\"alert alert-danger\">Name Already Exists</p>");
			return false;	
		}
		//- Iki paten disek
		var view = "box-view-1";
		var data = {
			visible : visible,
			name : name,
			class : className
		}
		var viewHtml = "<center><h4>" + name + "</h4></center>";
		if (selector.attr("data-type") == "tambah") {
			var target = $("#columnBox").clone();
			target.find(".column-box").attr({"data-object" : JSON.stringify(data), "id" : name});
			target.find(".column-box").find(".caption-box").text(name);
			target.find("#content-box").append(viewHtml);
			currentGrid.find(".contentBox").append(target.html());
		} else {
			currentBox.attr({"data-object" : JSON.stringify(data), "id" : name});
			currentBox.find(".caption-box").text(name);
			currentBox.find("#content-box").find("h4").text(name);
		}
		$(".close").trigger("click");
		return false;
	}

	function removeElement(element, type) {
		var parentnya = type;
		var selector = $(element);
		selector.closest(type).remove();
	}

	function addBox(element) {
		var selector = $(element).closest(".column");
		$('.modal-admin').css('width', "556px");
		$('.modal-dialog').css('width', "556px");
		$('div#modal_All').modal('show');
		$('#modal_All .modal-title p').text("Add New Box");
		$('div#modal_All div#kosong').html('');
		var box = $("#boxAddBox");
		currentGrid = selector;
		$('div#AllModal').html(box.html());
		$("#boxAddBox").css("display", "hidden !important")
	}

	function editBox(element) {
		var selector = $(element).closest(".column-box");
		$('.modal-admin').css('width', "556px");
		$('.modal-dialog').css('width', "556px");
		$('div#modal_All').modal('show');
		$('#modal_All .modal-title p').text("Edit Box");
		$('div#modal_All div#kosong').html('');
		var box = $("#boxAddBox").clone();
		var data = JSON.parse(selector.attr("data-object"));
		box.removeClass("box-hidden");
		box.find("#nameBox").val(data.name);
		box.find("#classBox").val(data.class);
		box.find("#boxVisible").prop('checked',data.visible);
		//- UBAH TYPE form
		box.find("#formAddBox").attr("data-type","edit");
		currentBox = selector;
		$('div#AllModal').html(box);
		$("#boxAddBox").css("display", "hidden !important")
	}

	$("#formLayout").submit(function() {
		var contentElement = $("#content-layout");
		var layout = [];
		var name = $("#nameLayout").val();
		if (name == "") {
			$("#proses").html("<p class=\"alert alert-danger\"> Name Layout Can't Be Empty</p>");
			return false;
		}
		contentElement.find(".box-row").each(function (i) {
			var dataRow = {
				id : idGenerate(),
				col_object : []
			}
			$(this).find(".contentnya .column").each(function() {
				var column = $(this);
				var dataColumn = {
					id : idGenerate(),
					class : column.attr("data-class"),
					content : [],
					order : 1000		
				};
				$(this).find(".column-box").each(function() {
					var boxnya = $(this).attr("data-object");
					dataColumn.content.push(JSON.parse(boxnya));
				})
				dataRow.col_object.push(dataColumn);
			})
			layout.push(dataRow);
		});

		var urlForm = '/manage/layout/save';
		if ($(this).attr("data-type") == "edit") {
			urlForm = "/manage/layout/edit/save/" + $(this).attr("data-id");
		}
		$.ajax({
			url : urlForm,
			type : 'POST',
			data : {layout : JSON.stringify(layout), data : JSON.stringify({name : name})},
			beforeSend : function() {
				console.log("Sedang Mengirim Data");
			},
			success : function(msg) {
				if (msg.status == 200) {
					$("#proses").html("<p class=\"alert alert-success\">" + msg.pesan + "</p>");
					setTimeout(function() {
						$("#proses").html("");
					}, 5000);
				}
				else {
					$("#proses").html("<p class=\"alert alert-danger\">" + msg.pesan + "</p>");				
				}
			}
		});
		return false;	
	});