mixin box-sample (box)
	div.box-view.box-view-1
		div.box-view-thumbnail
		div.box-view-desc
			a.title TITLE DARI CONTENT
			br
			span.time 20 Apr 2016
			p.desc This is view box for your sample content type and dynamic ngonok
	div.box-view.box-view-1
		div.box-view-thumbnail
		div.box-view-desc
			a.title TITLE DARI CONTENT
			br
			span.time 20 Apr 2016
			p.desc This is view box for your sample content type and dynamic ngonok

mixin box-view (object, content)
	if (object.type == "data-item")
		div.box-view-1
			each a in content[object.parent]
				+box-layout(object.view, a)

mixin box-layout (view, object)
	if (view == 'box-view-1')
		div.box-view.box-view-1
			div.box-view-thumbnail
			div.box-view-desc
				a.title= object.title || 'Unknown Title'
				br
				span.time= object.time || "20 Apr 2016"
				p.desc This is view box for your sample content type and dynamic ngonok			