include component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-code")
				h2 JAVASCRIPT EDITOR

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{ID : 'dataTable-add' ,  onclick : 'window.location.href = "main#/manage/js/add"' , title : 'Create JS ' , kelas : 'fa-plus'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'},{ onclick : 'DataTableHref("main#/manage/js/edit", "GET")' , title : 'Edit JS' , kelas : 'fa-pencil'} , { onclick : 'DataTableDelete("/manage/js/delete")', title : 'Delete JS' , kelas : 'fa-trash-o'}]
						+component(data)
					table(id = "table-js" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Name
								th Author
								th(data-hide='phone,tablet') Created_at
								th(data-hide='phone,tablet ') Updated_at

script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'}];
		var dataTableURL = '/manage/js/dataTable';

		var tableuser = dataTable('#table-js',dataTableURL,dataTableWidth ,{ selectable : [1,2,3,4,5] });
		
		function refresh(){
			tableuser.fnDraw();
			selected = [];
		}

		SelectedRow('#table-js');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		})

	});