include ./component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-list")
				h2 NAVIGASI MANAGER

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{onclick : 'DataTableAdd("/manage/navigasi/add","Tambah Navigasi Baru")' , title : 'Create New Navigasi' , kelas : 'fa-plus'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'},{onclick : 'DataTableEdit("/manage/navigasi/edit","Edit Navigasi")' , title : 'Edit Navigasi' , kelas : 'fa-pencil'} , {url : '/manage/navigasi/delete' , onclick : 'DataTableDelete("/manage/navigasi/delete")', title : 'Delete Navigasi' , kelas : 'fa-trash-o'}]
						+component(data)
					table(id = "table-navigasi" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Label
								th Url
								th(data-hide='phone,tablet') Created_at

script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'}];
		var dataTableURL = '/manage/navigasi/dataTable';

		var tableuser = dataTable('#table-navigasi',dataTableURL,dataTableWidth ,{ selectable : [1,2,3] });
		
		function refresh(){
			tableuser.fnDraw();
			selected = [];
		}

		SelectedRow('#table-navigasi');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		})

	});