include ./component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-user")
				h2 PAGE MANAGER

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{ ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'} , { url : '/manage/page/delete' , onclick : 'DataTableDelete("/manage/page/delete")', title : 'Delete Page' , kelas : 'fa-trash-o'}]
						a.btn.btn-default.pull-left(href = "/main#/manage/page/add" data-original-title = "Tambah Page Baru" data-placement = "bottom" rel="tooltip" style = "margin-right : 10px;")
							i.fa.fa-1x.fa-plus
						+component(data)
					table(id = "table-page" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Title
								th Permalink
								th(data-hide='phone,tablet') Created_at
								th(data-hide='phone,tablet ') Updated_at

script.
	pageSetUp();

	var selected = [];
	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'}];
		var dataTableURL = '/manage/page/dataTable';

		var tablepage = dataTable('#table-page',dataTableURL,dataTableWidth ,{ selectable : [1,2,3,4] });
		
		function refresh(){
			tableuser.fnDraw();
			selected = [];
		}

		SelectedRow('#table-page');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		});


	});