include ./component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-home")
				h2 URI MANAGER

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{ID : 'dataTable-add'  , title : 'Tambah Uri Baru' , kelas : 'fa-plus'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'},{ID : 'dataTable-edit' , title : 'Edit Uri' , kelas : 'fa-pencil'} , { onclick : 'DataTableDelete("/manage/uri/delete")', title : 'Delete Uri' , kelas : 'fa-trash-o'}]
						+component(data)
					table(id = "table-uri" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Name
								th Uri
								th(data-hide='phone,tablet') Created_at

script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'}];
		var dataTableURL = '/manage/uri/dataTable';

		var tableuri = dataTable('#table-uri',dataTableURL,dataTableWidth ,{ selectable : [1,2,3] });
		
		function refresh(){
			tableuri.fnDraw();
			selected = [];
		}

		SelectedRow('#table-uri');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		});

		$('#dataTable-edit').click(function (e){
			e.preventDefault();
			if (selected.length == 1) {
				window.location.href = '/main#/manage/uri/edit/'+selected[0];
			} else {
				$.smallBox({
					title : "Peringatan",
					content : "<i class='fa fa-clock-o'></i> <i> Minimal Satu Data !!!</i>",
					color : "#C46A69",
					iconSmall : "fa fa-times fa-1x fadeInRight animated",
					timeout : 1000
				});
			}
		});

		$('#dataTable-add').click(function (e){
			e.preventDefault();
			window.location.href = '/main#/manage/uri/add';
		})

	});