include ./component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-user")
				h2 USER MANAGER

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{ID : 'dataTable-add' ,  onclick : 'DataTableAdd("/manage/user/add","Tambah User Baru")' , title : 'Create New User' , kelas : 'fa-plus'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'},{ID : 'user-edit' , onclick : 'DataTableEdit("/manage/user/edit","Edit User")' , title : 'Edit User' , kelas : 'fa-pencil'} , {ID : 'user-delete' , url : '/manage/user/delete' , onclick : 'DataTableDelete("/manage/user/delete")', title : 'Delete User' , kelas : 'fa-trash-o'}]
						+component(data)
					table(id = "table-user" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Name
								th Username
								th(data-hide = 'phone') Nomor
								th(data-hide = 'phone,tablet') Created_at
								th(data-hide = 'phone,tablet ') Updated_at

script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth = [{'targets':0,'width':'15px'}];
		var dataTableURL = '/manage/user/dataTable';

		var tableuser = dataTable('#table-user',dataTableURL,dataTableWidth ,{ selectable : [1,2,3,4,5] });
		
		function refresh(){
			tableuser.fnDraw();
			selected = [];
		}

		SelectedRow('#table-user');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		})

	});