include ./component.jade
div.row
	article(class = "col-sm-12 col-md-12 col-lg-12")
		div(class = "jarviswidget jarviswidget-color-blueDark" id = "wid-id-3" data-widget-colorbutton = "false" data-widget-editbutton = "false" data-widget-custombutton = "false")
			header
				span(class = "widget-icon")
					i(class = "fa fa-user")
				h2 WIDGET MANAGER

			div
				div(class = "jarviswidget-editbox")

				div(class = "widget-body no-padding")
					div.col-lg-12(style="padding:10px;background-color:#eee;")
						- var data = [{onclick : 'DataTableAdd("/manage/widget/view/add","Tambah Widget View Baru")' , title : 'Create New Widget View' , kelas : 'fa-plus'},{ID : 'clear' , title : 'Reset & Refresh' , kelas : 'fa-refresh'},{onclick : 'DataTableEdit("/manage/widget/view/edit","Edit Widget View")' , title : 'Edit Widget View' , kelas : 'fa-pencil'} , {ID : 'user-delete' , url : '/manage/widget/view/delete' , onclick : 'DataTableDelete("/manage/widget/view/delete")', title : 'Delete Widget View' , kelas : 'fa-trash-o'}]
						+component(data)
					table(id = "table-widget-view" class = "table table-striped table-bordered table-hover" width = "100%")
						thead
							tr
								th(data-class='expand')
								th Name
								th Mixin
								th(data-hide='phone') Field
								th(data-hide='phone,tablet') Created_at

script.
	pageSetUp();
	var selected = [];

	$(function (){
		var dataTableWidth=[{'targets':0,'width':'15px'},{'targets':1,'width':'100px'},{'targets':2,'width':'100px'},{'targets':3,'width':'125px'},{'targets':4,'width':'120px'}];
		var dataTableURL = '/manage/widget/view/dataTable';

		var tableuser = dataTable('#table-widget-view',dataTableURL,dataTableWidth ,{ selectable : [1,2,3,4,5] });
		
		function refresh(){
			tableuser.fnDraw();
			selected = [];
		}

		SelectedRow('#table-widget-view');

		$('#clear').click(function (e){
			e.preventDefault();
			refresh();
		})

	});